################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ExamenHerramientas1/CopilotIndices/17.13.441.19478
/GestionTareas/.vs/GestionTareas.API/FileContentIndex
