@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: #f4f7fb; font-family: 'Arial', sans-serif; margin: 0; padding: 0;">
    <div class="text-center" style="text-align: center; margin-top: 40px; background-color: #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <h1 style="color: #2c3e50; font-size: 3rem; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">Sistema de Gestión de Tareas para Equipos de Desarrollo</h1>
    </div>

    <center>
        <img src="https://coworkingfy.com/wp-content/uploads/2019/11/trabajo-en-equipo-grupo-figurativo-de-equipo-de-trabajo-1024x612.jpg"
             alt="Imagen"
             class="imagen1"
             style="max-width: 90%; height: auto; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-top: 20px; border: 5px solid #3498db;">
    </center>
</body>
